<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kênh chat riêng</title>
    <link rel="stylesheet" href="css/display.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/chatFriend.js"></script>
</head>
<body>
    <input id="name" type="hidden" value='<%-name%>'>
    <div class="header">
        <div class="container">
            <div class="hleft">
                <div class="dropdown">
                    <span>CHAT >></span>
                    <div class="dropdown-content">
                        <a class="link-chat" href="/friend">Chat riêng</a>
                        <a class="link-chat" href="/group">Chat nhóm</a>
                        <a class="link-chat" href="/">Chat chung</a>
                    </div>
                </div>
            </div>
            <div class="hright">
                <span id="user"><%-name%></span> <a href="/logout"><span>(Đăng xuất)</span></a>
            </div>
        </div>
    </div>
    <div class="main">
        <ul id="messages">
            <li class="welcome">
                <span id="wc-left">Nhập tên người bạn muốn chat:</span>
                <input id="friend" type="text" class="input">
                <button id="btn-chat">Chat</button>
                <button id="change-fr" style='display:none'>Đổi người nhận</button>
            </li>
        </ul>
        <form id="chatbox">
            <input placeholder="Type here..." maxlength="50" id="m" autocomplete="off"/>
            <button type="submit" class="send">Gửi</button>
        </form>
    </div>
</body>
</html>