<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="css/display.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/chatGeneral.js"></script>
</head>
<body>
    <input id="name" type="hidden" value='<%-name%>'>
    <div class="header">
        <div class="container">
            <div class="hleft">
                <div class="dropdown">
                    <span>CHAT >></span>
                    <div class="dropdown-content">
                        <a class="link-chat" href="/friend">Chat riêng</a>
                        <a class="link-chat" href="/group">Chat nhóm</a>
                        <a class="link-chat" href="#m">Chat chung</a>
                    </div>
                </div>
            </div>
            <div class="hright">
                <a href="/login"><span>ĐĂNG NHẬP</span></a>
                <a href="/register"><span>ĐĂNG KÝ</span></a>
            </div>
        </div>
    </div>
    <div class="main">
        <ul id="messages">
            <li class="welcome">
                <span id="wc-left">KÊNH CHAT CHUNG</span>
                <span id="wc-right"></span>
            </li>
        </ul>
        <form id="chatbox">
            <input placeholder="Type here..." maxlength="50" id="m" autocomplete="off"/>
            <button type="submit" class="send">Gửi</button>
        </form>
    </div>
</body>
</html>