<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng nhập ADMIN</title>
    <link rel ="stylesheet" href="../css/display.css">
</head>
<body>
    <div class="container-fluid">
        <div class="login-box">
            <div class="login-logo">ADMIN</div>
            <div class="login-body">
                <p>LOGIN</p>
                <% if(-success==0){ %>
                    <p style="color:red">Sai tài khoản hoặc mật khẩu</p>                
                <%}%>
                <form method="POST" action="/admin/login" style="margin-top: 36px;">
                    <input class="input" size="25" name="Username" autocomplete="off"  type="text" placeholder="Tài khoản">
                    <br>
                    <input class="input" size="25" name="Password" type="password" autocomplete="off"  placeholder="Mật khẩu">
                   <br>
                    <button type="submit" id="button">Đăng nhập</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>